/****** Object:  Table [dbo].[_TransportInventory]    Script Date: 12/23/2013 10:12:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[_TransportInventory](
	[LabelOpisnventory] [varchar](3) NULL,
	[KodObjects] [varchar](1) NOT NULL,
	[LabelObjects] [varchar](23) NOT NULL,
	[FioObjects] [varchar](152) NULL,
	[FioBux] [varchar](14) NOT NULL,
	[idCompany] [int] NOT NULL,
	[idBeginPeriod] [int] NOT NULL,
	[Disabled] [int] NULL,
	[idResponsible] [int] NOT NULL,
	[DateRegistration] [datetime] NULL,
	[FioPredsedatel] [varchar](152) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[_TransportInventory] ([LabelOpisnventory], [KodObjects], [LabelObjects], [FioObjects], [FioBux], [idCompany], [idBeginPeriod], [Disabled], [idResponsible], [DateRegistration], [FioPredsedatel]) VALUES (N'01', N'', N'остатки топлива в баках', N'АФАНАСЬЕВ ВЛАДИМИР НИКОЛАЕВИЧ', N'Морозова С.В.', 1, 166, NULL, 198, CAST(0x0000A28100000000 AS DateTime), NULL)
INSERT [dbo].[_TransportInventory] ([LabelOpisnventory], [KodObjects], [LabelObjects], [FioObjects], [FioBux], [idCompany], [idBeginPeriod], [Disabled], [idResponsible], [DateRegistration], [FioPredsedatel]) VALUES (N'01', N'', N'остатки топлива в баках', N'БУРАК ВАЛЕРИЙ МИХАЙЛОВИЧ', N'Морозова С.В.', 1, 166, NULL, 198, CAST(0x0000A28100000000 AS DateTime), N'КАРПЕЕВ ГРИГОРИЙ МИХАЙЛОВИЧ')
INSERT [dbo].[_TransportInventory] ([LabelOpisnventory], [KodObjects], [LabelObjects], [FioObjects], [FioBux], [idCompany], [idBeginPeriod], [Disabled], [idResponsible], [DateRegistration], [FioPredsedatel]) VALUES (N'01', N'', N'остатки топлива в баках', N'КАМЕНЬКОВ АНДРЕЙ ПЕТРОВИЧ', N'Морозова С.В.', 1, 166, NULL, 198, CAST(0x0000A28100000000 AS DateTime), NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
